{% extends './base.html' %}

{% load static %}

{% block title %} 404 - Page Not Found {% endblock title %}

{% block content %}
  
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1> 404 - Page Non Trouvée </h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Page Non Trouvée</h2>
        <p>La page que vous recherchez n'existe pas sur notre site.</p>
        <div class="py-2">
          <a href="/" class="btn btn-primary"> Retour à l'accueil <i class="bi bi-arrow-right icon"></i></a>
        </div>
      </div><!-- End Section Title -->

    </section><!-- /Starter Section Section -->

  </main>

{% endblock content %}